.init {
    height: 100vh;
    overflow: hidden;
}

.main__pagination {
    position: absolute;
    top: 50%;
    right: 20px !important;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    transform: translate(100%, -50%);
    opacity: 0;
    transition: all ease 0.3s 4s;
    @media (max-width: $media-mb) {
        right: 10px !important;
    }
    & .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        background-color: #000;
        opacity: 0.5;
        transition: all ease 0.2s;
        position: relative;
        outline: none;
        &:after {
            content: "";
            width: 7px;
            height: 7px;
            position: absolute;
            top: 4px;
            left: 4px;
            background-color: #10c9c3;
            opacity: 0;
            border-radius: 50%;
            transition: all ease 0.3s;
        }
        &:hover {
            opacity: 0.8;
        }
    }
    & .swiper-pagination-bullet-active {
        // border: 4px solid #000;
        opacity: 0.9;
        &:after {
            opacity: 1;
        }
        &:hover {
            opacity: 0.9;
            &:after {
                opacity: 1;
            }
            // border: 4px solid #000;
            // background-color: #10c9c3;
        }
    }
}
.main__scrollbar {
    top: 50% !important;
    height: calc(85% - 60px) !important;
    transform: translate(100%, -50%) !important;
    opacity: 0;
    transition: all ease 0.3s 4s;
    & .swiper-scrollbar-drag {
        cursor: pointer;
        transition: all ease 0.2s;
        &:hover {
            transition: all ease 0.2s;
            background-color: rgba(0, 0, 0, 0.7);
        }
    }
    @media (max-width: $media-big-tb) {
        display: none;
    }
}
